@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.left-div,
.right-div,
.time-div {
   position: absolute;
}

.left-div {
   z-index: 2;
   left: 0;
   top: 0;
   margin: 50px 0 0 50px;
}

.right-div {
   z-index: 1;
   bottom: 0;
   right: 0;

   display: flex;
   flex-direction: column;
   align-items: center;
}

.time-div {
   z-index: 1;
   right: 0;
   top: 0;
   margin: 40px 40px 0 0;
   font-size: larger;
   font-weight: 400;
}

.heading,
.subheading,
.dateTime {
   font-family: "Montserrat", sans-serif;
   /* text-align: center; */
}

.heading {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}

.heading-data {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   margin-top: 50px;
}

.heading-text {
   font-size: 100px;
   font-weight: 300;
}

.subheading {
   font-size: 20px;
   font-weight: 400;
}

.welcome-img {
   width: 650px;
   border-radius: 20px;
}

.logo-img {
   width: 150px;
}

.button-28 {
   appearance: none;
   background-color: rgb(0, 51, 141);
   border-radius: 15px;
   box-sizing: border-box;
   color: white;
   cursor: pointer;
   display: inline-block;
   font-family: "Monolisa";
   font-size: 24px;
   font-weight: 400;
   line-height: normal;
   margin-top: 90px;
   min-height: 60px;
   min-width: 0;
   outline: none;
   padding: 16px 24px;
   text-align: center;
   text-decoration: none;
   transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   width: 50%;
   will-change: transform;
}

.button-28:active {
   color: #fff;
   background-color: #1a1a1a;
   box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
   transform: translateY(-2px);
}
